<div class="annoy-screen">
    <div class="annoy-content">
        <div class="mob-panel"></div>
        <div class="annoy-headline1">Annoying pop up <span> advert</span></div>
        <div class="annoy-headline2">advert</div>

        <div class="annoy-star">
            <div>Grab a Filthy deal 50% off nothing
                <p>This could change your life
                    <span>But probably won't</span>
                </p>
            </div>
        </div>

        <div class="annoy-banner">
            <div class="annoy-banner__inner">	
                <p><span>You</span> <span>need</span> <span>this</span></p>
            </div>
        </div>

        <div class="annoy-needthis-mob">	
                <p>You need this</p>
                <span>#brandsworship</span>
            </div>

        <div class="annoy-copy">
            <p>Why did you press the button?<br>
                Because you need this filth.
            </p>

            <p>*Change your life
                <br>
                *Buy now
                <br>
                *50% off nothing
                <br>
                *be more like me and less like you
                <br>
                *become the best version of yourself
                <br>
                *be successful
                <br>
                *limited time offer only 
                </p>

                <span class="annoy-disclaimer">none of the above is guaranteed.<br> this advert should be ignored<br>and never talked about.</span>


            </p>

        </div>

        <div class="annoy-logo">
            <img src="images/2019/logo-white.png">

        </div>
        

        <!-- <img
                sizes="(min-width: 800px) 800w, (min-width: 320px) 730w" 
                    srcset="images/2019/ad-desktop.jpg 5456w, images/2019/ad-mobile.jpg 730w,"
                    src="images/2019/ad-mobile.jpg" 
                    alt="Advertisement" 
                    > -->
    </div>
</div>