<!-- GATE WAY -->
<div class="gateway-screen">
  <div class="gateway-inner">

    <h1>
      <a href="#" class="fx animated-button victoria-four">Endless</a>
    </h1>
    <video webkit-playsinline playsinline autoplay muted loop preload="metadata" class="video-master">
      <source src="media/explode.mp4" type="video/mp4">
    </video>

    <div class="gateway-content">

      <audio preload class="botfx">
        <source src="media/bot-v2.mp3" type="audio/mpeg">
      </audio>
    </div>
  </div>

</div>