<!-- GATE WAY -->
<div class="gateway-screen">
	<div class="gateway-inner">

		<h1>Endless</h1>
		<video webkit-playsinline playsinline autoplay muted loop preload="metadata" class="video-master">
			<source src="media/explode.mp4" type="video/mp4">
		</video>

		<div class="gateway-content">
			<p>
				<span class="new-bold">This web site employs audio and video for an enhanced interactive experience.
          <br>Select an option below to enter the site:</span>
			</p>
			<div class="gateway-buttons">
				<a href="#" class="fx animated-button victoria-four">Enter<span>
						<i>[Enhanced]</i>
					</span>

				</a>
				<a href="#" class="nofx animated-button victoria-four">Enter<span>
						<i>[Basic]</i>
					</span>

				</a>
			</div>
			<audio preload class="botfx">
				<source src="media/bot-v2.mp3" type="audio/mpeg">
			</audio>
		</div>
	</div>

</div>