 <div class="gold-master"><a href="#" title="ENDLESS - Click to trigger audio and animation sequence." class="gold-trigger"><img src="images/logo_vert.png" alt="ENDLESS - Vertical logo, gold" class="gold-img"></a>
  <audio id="song-1" preload class="songs">
    <source src="media/choir.mp3" type="audio/mpeg">
  </audio>
  <audio id="song-2" preload class="songs">
    <source src="media/train.mp3" type="audio/mpeg">
  </audio>
  <audio id="song-3" preload class="songs">
    <source src="media/porn.mp3" type="audio/mpeg">
  </audio>
  <audio id="song-4" preload class="songs">
    <source src="media/spraycan.mp3" type="audio/mpeg">
  </audio>
  <audio id="song-5" preload class="songs">
    <source src="media/trafficjam.mp3" type="audio/mpeg">
  </audio>
  <div class="indicators">
    <div class="fa fa-volume-up fa-2x"></div>
  </div>
</div>