<!-- Favicons-->
<link rel="apple-touch-icon" sizes="180x180" href="/images/icons/favicons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/images/icons/favicons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/images/icons/favicons/favicon-16x16.png">
<link rel="manifest" href="/images/icons/favicons/site.webmanifest">
<meta name="msapplication-TileColor" content="#b1b1b1">
<meta name="msapplication-TileImage" content="/images/icons/favicons/ms-icon-144x144.png">
<meta name="theme-color" content="#b1b1b1">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

<script src="https://use.fontawesome.com/a2c5113c27.js"></script>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Sometype+Mono:ital,wght@0,400..700;1,400..700&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&family=Syne+Mono&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/styles/main.min.css">

<link href="/styles/mailchimp.css" rel="stylesheet" type="text/css"> 
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/> 
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
