<header>
  <div class="header-inner">
    <h1>
      <a href="/" title="Home">Endless</a>
    </h1>
    <a class="icon-menu fa fa-bars fa-2x js-menu-trigger"></a>
    {% include "partials/nav-social.njk" %}
    {% include "partials/nav.njk" %}
  </div>
</header>
{% include "partials/nav-mobile.njk" %}