<nav id="social"> 
    <ul role="tablist">
        <li><a href="https://www.instagram.com/endlessartist/" title="Instagram - Endless. Opens in a new window..." target="_blank" class="fa fa-instagram fa-2x"></a></li>
        <li><a href="https://www.youtube.com/channel/UCPlmI4s6B765snFOxMpMmdw" title="Youtube - Endless. Opens in a new window..." target="_blank" class="fa fa-youtube-square fa-2x"></a></li>
        
        <li><a href="https://www.facebook.com/ENDLESSARTIST" title="Facebook - Endless. Opens in a new window..." target="_blank" class="fa fa-facebook-official fa-2x"></a></li>
    </ul>
</nav>