<!-- Start Mobile Nav -->
  <nav id="mobile-nav" class="js-menu sliding-panel-content">
    <div class="logo-mobile"></div><a title="Close navigation" class="icon-close fa fa-times fa-2x nav-close"></a>
    <ul role="tablist">
      <li><a role="tab" href="index" title="Home" class="nav-link nav-home">Home</a></li>
      <li><a role="tab" href="about" title="About" class="nav-link nav-about">About</a></li>
      <li><a role="tab" href="artwork" title="Artwork" class="nav-link nav-artwork">Artwork</a></li>
      <li><a role="tab" href="exhibitions" title="Exhibitions" class="nav-link nav-exhibitions">Exhibitions</a>
      </li>
      <li><a role="tab" href="books" title="Books" class="nav-link nav-books">Books</a></li>
      <!--  <li><a role="tab" href="field-notes" title="Field Notes" class="nav-link nav-field">Field Notes</a></li> -->
        <li><a role="tab" href="press" title="Press" class="nav-link nav-press">Press</a></li>
        <li><a role="tab" href="contact" title="Contact" class="nav-link nav-contact">Contact</a></li>
        <li><a role="tab" href="subscribe" title="Subscribe" class="nav-link nav-subscribe annoy-trigger">Subscribe</a></li>
    </ul>
    <nav id="social-mobile">
      <ul role="tablist">
        <li><a role="tab" href="https://www.instagram.com/endlessartist/"
              title="Instagram - Endless. Opens in a new window..." target="_blank" class="fa fa-instagram fa-2x">
            <span>Instagram</span></a></li>
        <li><a role="tab" href="https://www.youtube.com/channel/UCPlmI4s6B765snFOxMpMmdw"
              title="Youtube - Endless. Opens in a new window..." target="_blank" class="fa fa-youtube-square fa-2x">
            <span>Youtube</span></a></li>
        
        <li><a role="tab" href="https://www.facebook.com/ENDLESSARTIST"
              title="Facebook - Endless. Opens in a new window..." target="_blank"
              class="fa fa-facebook-official fa-2x"> <span>Facebook</span></a></li>
      </ul>
    </nav>
  </nav>
<!-- End Mobile nav -->