<!-- views/partials/nav.njk -->
<nav id="primary-nav" aria-label="main navigation" class="primary-nav">
  <ul role="tablist">
    <li>
      <a role="tab" data-toggle="tab" href="/" title="Home" class="nav-link nav-home">Home </a>
    </li>
    <li>
      <a role="tab" data-toggle="tab" href="/about" title="About" class="nav-link nav-about">About </a>
    </li>
    <li>
      <a role="tab" data-toggle="tab" href="/artwork" title="Artwork" class="nav-link nav-artwork">Artwork </a>
    </li>
    <li>
      <a role="tab" data-toggle="tab" href="/exhibitions" title="Exhibitions" class="nav-link nav-exhibitions">Exhibitions </a>
    </li>
    <!-- <li><a role="tab" data-toggle="tab" href="field-notes" title="Field Notes" class="nav-link nav-field">Field Notes </a></li> -->
    <li>
      <a role="tab" data-toggle="tab" href="/books" title="Books" class="nav-link nav-books">Books </a>
    <li>
      <a role="tab" data-toggle="tab" href="/press" title="Press" class="nav-link nav-press">Press </a>
    </li>

    <li>
      <a role="tab" data-toggle="tab" href="/contact" title="Contact" class="nav-link nav-contact">Contact  </a>
    </li>
    <li>
      <a role="tab" data-toggle="tab" href="/subscribe" title="subscribe" class="nav-link nav-subscribe annoy-trigger">Subscribe </a>
    </li>
    <!-- <li><a href="#" title="Do not click" class="nav-link annoy-trigger">Do not click </a></li> -->
  </ul>
</nav>