<script src="scripts/vendor.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script src="scripts/main.min.js"></script>
<script src="scripts/barba.min.js"></script>
<script src="https://cdn.rawgit.com/hmongouachon/mgGlitch/master/src/mgGlitch.js"></script> 
<script src="scripts/glitch.js"></script>