<!-- views/about.njk -->
{% extends "base.njk" %}

{% block content %}
<section class="section section-about barba-container">
		<!-- ABOUT-->
		<h2><span>ABOUT</span></h2>

		<div class="section-content"> 
			<div id="content-about" class="content-about editable-text">
				<p class="video-mobile">
					<video webkit-playsinline playsinline autoplay muted loop preload="metadata" >
						<source src="media/trophy-black.mp4" type="video/mp4">
					</video>
				</p>
				<p><b>He goes by the name “Endless” – a word which
				embodies his limitless creativity, passion and drive. Endless is a London-based artist, who infuses street
				and contemporary art techniques and practices. </b></p>
				<p>After 6 years of study, Endless graduated from Cambridge
				School Of Art, where he specialised in fine art and screen printing. Shortly after this, he moved to London
				and began sharing his ideas with the world in the form of street-art. The journey from street to gallery has
				seen Endless&apos; reputation rise, capturing the attention of the art world, museums, brands and the media
				alike.   </p> 
				<p>Never lacking in meaning or depth, the key messages within the vibrant artwork interpret the
				artists’ unbiased societal observations, exploring humanity’s relationship with fashion, advertising,
				brand-worship, consumerism, and celebrity culture.  The logo &quot;CHAPEL&quot; is often found in
				Endless&apos; work, showcasing the contrast between traditional and modern-day symbols of worship with his
				own take on the iconic Chanel No5 perfume imagery. The name change in Endless&apos; design represents
				society&apos;s brand-obsessed culture shift in one word, &apos;Chapel&apos; - a world where brands are the
				new deities; shops are the new churches, glossy magazines are Bibles and celebrities play the part of God.
				The gods in his works include fashion industry legends like Karl Lagerfeld, Naomi Campbell and Kate Moss.</p>

				<p>
				<img class="image-about editable" src="images/2024/profile-split.png" alt="Endless - photo">
				</p>
				<p class="desktop-only">
					<video webkit-playsinline playsinline autoplay muted loop preload="metadata" >
						<source src="media/trophy-black.mp4" type="video/mp4">
					</video>
				</p>

				<p>In 2021, Endless donated his self-portrait with Gilbert &amp; George to Le Gallerie degli Uffizi,
				becoming the first street artist in history to have artwork within the prestigious Medici collection. In
				spring 2022, Endless became the first street-artist in history to exhibit at La Biennale Arte, representing
				The Republic Of San Marino in an exhibition titled - ‘Postumano Metamorfico’. Endless was the first street
				artist to paint the main window display and front doors of the historical Liberty London department store,
				with an artwork paying homage to 50 years of British Punk. Endless was asked to honour the 50-year
				anniversary of the Beatles’ “Abbey Road” album with a celebratory mural outside the iconic building. His
				murals “Treviso Lizzy Vuitton”, “Kingdom Of The Fanes” and &quot;Powder to the People&quot; - the latter
				created for the 2021 Ski World Championships in Cortina D&apos;Ampezzo, are just some of the open-air works
				that bear his signature.  </p>
				
				<p>Endless boasts numerous collaborations with international artists, including
				Gilbert &amp; George and luxury brands such as Karl Lagerfeld, with whom he released a capsule clothing
				collection, NFT artworks and a commemorative mural honouring the late designer. Endless followed in the
				footsteps of Andy Warhol and Keith Haring, when he was asked by Fiorucci to design limited edition
				collections for the opening of the new London flagship store in 2019. 
				</p>
				<p>
				Today, Endless continues to express
				ideas through his street-art, but his most exclusive work can be found in Cris Contini Contemporary
				Galleries and within the homes of collectors world-wide.</p>
				
				
			</div>
				<div class="content-img"> 
						
					<p class="desktop-only">
					<img id="image-about" class="image-about editable" src="images/2024/profile-split.png" alt="Endless - photo">
					</p>
					
				
					
					<aside><p class="signup"><a href="subscribe.html" title="Subscribe"><u>Subscribe</u> to ENDLESS ACCESS to receive a free weekly newsletter.</a></p></aside>
					
				
				</p>
				</div> 
		
		</div>

		
	</section>    
{% endblock %}
