<!-- views/artwork.njk -->
{% extends "base.njk" %}

{% block content %}
  <section class="section section-artwork barba-container">
    <!-- ARTWORK-->
    <h2>
      <span>ARTWORK</span></h2>
    <div id="section-artwork" class="section-content">

      <div class="row-2 repeatable">

        <div class="artwork-item">
          <div class="artwork-img"><img src="images/2019/CHAPEL SKULL HALO BLACK, 100 x 150cm, acrylic and spray paint on canvas.jpg" alt="CHAPEL SKULL HALO BLACK, 100 x 150cm, acrylic and spray paint on canvas" class="lazy"></div>
          <div class="artwork-copy">
            <p class="bold">CHAPEL SKULL HALO BLACK</p>
            <p>Acrylic and spray paint on canvas</p>
            <p>100 x 150cm</p>
          </div>
        </div>

        <div class="artwork-item">
          <div class="artwork-img"><img src="images/2019/CHAPEL SKULL HALO GOLD, 100 x 150xm, acrylic and spray paint on canvas .jpg" alt="CHAPEL SKULL HALO GOLD, 100 x 150xm, acrylic and spray paint on canvas " class="lazy"></div>
          <div class="artwork-copy">
            <p class="bold">CHAPEL SKULL HALO GOLD</p>
            <p>Acrylic and spray paint on canvas</p>
            <p>100 x 150cm</p>
          </div>
        </div>

      </div>

      <div class="row-2 repeatable">

        <div class="artwork-item">
          <div class="artwork-img"><img src="images/2019/CHAPEL CHERUB DRIPS, 102 x 152cm, mixed media on camvas with a resin finish.jpg" alt="CHAPEL CHERUB DRIPS, 102 x 152cm, mixed media on canvas with a resin finish" class="lazy"></div>
          <div class="artwork-copy">
            <p class="bold">CHAPEL CHERUB DRIPS</p>
            <p>Mixed media on canvas with a resin finish</p>
            <p>102 x 152cm</p>
          </div>
        </div>

        <div class="artwork-item">
          <div class="artwork-img"><img src="images/2019/WORSHIP CHAPEL GOLD, 100 x 150cm, mixed media on canvas with a resin finish .jpg" alt="WORSHIP CHAPEL GOLD, 100 x 150cm, mixed media on canvas with a resin finish" class="lazy"></div>
          <div class="artwork-copy">
            <p class="bold">WORSHIP CHAPEL GOLD</p>
            <p>Mixed media on canvas with a resin finish</p>
            <p>100 x 150cm</p>
          </div>
        </div>

      </div>

      <div class="row-2 repeatable">

        <div class="artwork-item">
          <div class="artwork-img"><img src="images/2019/CALVIN CLASSICS CROTCH GRAB DUO 100 x 150cm, acrylic and spray paint on canvas.jpg" alt="CALVIN CLASSICS CROTCH GRAB DUO 100 x 150cm, acrylic and spray paint on canvas" class="lazy"></div>
          <div class="artwork-copy">
            <p class="bold">CALVIN CLASSICS CROTCH GRAB DUO</p>
            <p>Acrylic and spray paint on canvas</p>
            <p>100 x 150cm</p>
          </div>
        </div>

        <div class="artwork-item">
          <div class="artwork-img"><img src="images/2019/CROTCH GRAB GOLD 100 x 150cm, acrylic and spray paint on canvas.jpg" alt="CROTCH GRAB GOLD 100 x 150cm, acrylic and spray paint on canvas" class="lazy"></div>
          <div class="artwork-copy">
            <p class="bold">CROTCH GRAB GOLD</p>
            <p>Acrylic and spray paint on canvas</p>
            <p>100 x 150cm</p>
          </div>
        </div>

      </div>

      <div class="row-2 repeatable">

        <div class="artwork-item">
          <div class="artwork-img"><img src="images/2019/LIZZIE VUITTON UNION JACK, 100 x 150xm, acrylic and spray paint on canvas .jpg" alt="LIZZIE VUITTON UNION JACK, 100 x 150xm, acrylic and spray paint on canvas " class="lazy"></div>
          <div class="artwork-copy">
            <p class="bold">LIZZIE VUITTON UNION JACK</p>
            <p>Acrylic and spray paint on canvas</p>
            <p>100 x 150cm</p>
          </div>
        </div>

        <div class="artwork-item">
          <div class="artwork-img"><img src="images/2019/LIZZY VUITTON METALIC DRIPS, 101 x 152cm, acrylic and spray paint on canvas .jpg" alt="LIZZY VUITTON METALLIC DRIPS, 101 x 152cm, acrylic and spray paint on canvas " class="lazy"></div>
          <div class="artwork-copy">
            <p class="bold">LIZZY VUITTON METALLIC DRIPS</p>
            <p>Acrylic and spray paint on canvas</p>
            <p>101 x 152cm</p>
          </div>
        </div>

      </div>

      <div class="row-2 repeatable">

        <div class="artwork-item">
          <div class="artwork-img"><img src="images/2019/NAOMI FISH CHAPEL, 101 x 152cm, mixed media on canvas with a resin finish .jpg" alt="NAOMI FISH CHAPEL, 101 x 152cm, mixed media on canvas with a resin finish " class="lazy"></div>
          <div class="artwork-copy">
            <p class="bold">NAOMI FISH CHAPEL</p>
            <p>Mixed media on canvas with a resin finish</p>
            <p>101 x 152cm</p>
          </div>
        </div>

        <div class="artwork-item">
          <div class="artwork-img"><img src="images/2019/KATE WORSHIP, 91 X 152cm, mixed media on canvas with a resin finish.jpg" alt="KATE WORSHIP, 91 X 152cm, mixed media on canvas with a resin finish" class="lazy"></div>
          <div class="artwork-copy">
            <p class="bold">KATE WORSHIP</p>
            <p>Mixed media on canvas with a resin finish</p>
            <p>91 X 152cm</p>
          </div>
        </div>
      </div>
    </div>
    {% include "partials/gold.njk" %}
  </section>
{% endblock %}