<!-- views/contact.njk -->
{% extends "base.njk" %}

{% block content %}
	<section class="section section-contact barba-container">
		<!-- CONTACT-->
		<h2>
			<span>CONTACT</span></h2>
		<div class="section-content">
			<div id="section-contact" class="content-contact">

				<div class="cms-editable">
					<p>Official gallery representation :&nbsp;<br>
						<a href="https://criscontinicontemporary.com/" target="_blank" title="Go to www.criscontinicontemporary.com (opens in new window)">www.criscontinicontemporary.com</a>
					</p>
					<p>For media and press enquiries, please contact: <br>
						<a class="" href="mailto:mia@endlesstheartist.com" title="Email mia@endlesstheartist.com">mia@endlesstheartist.com</a>
					</p>
					<p>For general enquiries, please contact Endless: <br>
						<a href="mailto:info@endlesstheartist.com" title="Email info@endlesstheartist.com">info@endlesstheartist.com</a>
					</p>
					<p>Other official distributors :<br>
						<a href="https://meartgallery.co.uk" target="_blank" title="Go to www.meartgallery.co.uk (opens in new window)">www.meartgallery.co.uk</a>
					</p>
					<p>
						<a href="http://www.motionlessfineart.com" target="_blank" title="Go to www.motionlessfineart.com (opens in new window)">www.motionlessfineart.com</a>
					</p>
					<p>
						<a href="subscribe.html" title="Subscribe" title="Endless - Subscribe page">Subscribe</a> to get exclusive invites to exhibitions and events.</p>
					<p>
						<a class="button-primary" href="mailto:info@endlesstheartist.com?subject=Customer Enquiry - Re-sale / Verification" title="Email info@endlessartist.com">Re-sale advice &amp; verification of artwork enquiries</a>
					</p>
				</div>
				<p>
					<img id="image-contact" class="cms-editable" src="images/2024/street-industrial.jpg" width="100%" alt="ENDLESS - Industrial Building, photo">
				</p>
			</div>
		</div>
		{% include "partials/gold.njk" %}
	</section>
{% endblock %}