<!-- views/about.njk -->
{% extends "base.njk" %}

{% block content %}
 <section class="section section-exhibitions barba-container">
    <!-- EXHIBITIONS-->
    <h2><span>EXHIBITIONS</span></h2>
    <div class="section-content">
      <div class="content-upcoming">
        <h3><span>UPCOMING</span></h3>
        <p>We are working on the next show now and cannot wait to show you. </p>
        <p><a href="subscribe.html" title="Subscribe">Subscribe</a> to get exclusive invites to exhibitions and events.</p>
        <ul id="upcoming-list" class="editable"> 
            
        </ul>

    
        
        <div class="exhibitions-gallery editable exhibitions-slider">
            <div class="repeatable cms-repeatable">
            <img src="images/2024/ex-1.jpg" alt="Palermo Museum, Cantieri Culturali alla Zisa" />
            <i>Palermo Museum, Cantieri Culturali alla Zisa</i>
            </div>
            <div class="repeatable cms-repeatable">
            <img src="images/2024/ex-2.jpg" alt="Treviso, Casa Robegan Museum" />
            <i>Treviso, Casa Robegan Museum</i>
            </div>
            <div class="repeatable cms-repeatable">
            <img src="images/2024/ex-3.jpg" alt="Venice Biennale, San Marino Pavilion" />
            <i>Venice Biennale, San Marino Pavilion</i>
            </div>
            <div class="repeatable cms-repeatable">
            <img src="images/2024/ex-4.jpg" alt="Endless featured in Gilbert & George Crusade artwork, ARNDT Gallery, Singapore" />
            <i>Endless featured in Gilbert & George Crusade artwork, ARNDT Gallery, Singapore </i>
            </div>
            <div class="repeatable cms-repeatable">
            <img src="images/2024/ex-5.jpg" alt="Montenegro CCC Gallery" />
            <i>Montenegro CCC Gallery </i>
            </div>
            <div class="repeatable cms-repeatable">
            <img src="images/2024/ex-6.jpg" alt="London Cript Gallery"/>
            <i>London Cript Gallery</i>
            </div>
        </div>

        </div>
        <div class="content-previous">
        <h3><span>PREVIOUS</span></h3>
        <ul id="previous-list" class="editable">
            <li class="repeatable cms-repeatable">
            <div class="left">
                <p><strong>Endless Treviso</strong></p>
                <p>Endless’ first museum exhibition Musei Civici Treviso<span class="Apple-converted-space"> </span> –
                Casa Robegan Museum</p>
            </div>
            <div class="right">
                <p class="date">December 22- Febuary 23</p>
                <p><a
                    href="https://www.museicivicitreviso.it/it/le-mostre/archivio/dettaglio-1-1/endless-incontra-treviso-1?np=1">www.museicivicitreviso.it</a>
                </p>
            </div>
            </li>
            <li class="repeatable cms-repeatable">
            <div class="left">
                <p class="bold">Glass Stress - State Of Mind 2022 </p>
                <div class>Fondazione Berengo Art Space,  Murano, Venice.</div>
                <div class> </div>
            </div>
            <div class="right">
                <p class="date">June - November 2022</p>
                <p><a
                    href="https://www.berengo.com/news/glasstress-2022-state-of-mind-opens-in-murano/">www.berengo.com</a>
                </p>
            </div>
            </li>
            <li class="repeatable cms-repeatable">
            <div class="left">
                <p class="bold">Venice Biennale </p>
                <div class>Biennale Arte, 2022 - 59th International Art Exhibition </div>
                <div class><span class>POSTUMANO METAMORFICO.</span></div>
                <div class> </div>
            </div>
            <div class="right">
                <p class="date">April - November 2022</p>
                <p><a href="https://www.labiennale.org/en/art/2022/san-marino-republic">www.labiennale.org</a>  <a
                    href="https://biennaleveneziasanmarino.com/">www.biennaleveneziasanmarino.com</a><a
                    href="https://criscontinicontemporary.com/exhibitions/35-biennale-arte-2022-59.-esposizione-internazionale-darte/">www.criscontinicontemporary.com</a>
                </p>
            </div>
            </li>
            <li class="repeatable cms-repeatable">
            <div class="left">
                <p class="bold">Endless In Montenegro</p>
                <p>The story from street to canvas.  Porto, Montenegro. </p>
            </div>
            <div class="right">
                <p class="date"> August - November 2021</p>
                <p><a
                    href="https://criscontinicontemporary.com/exhibitions/29-endless-in-montenegro-the-story-from-street-to-canvas/">www.criscontinicontemporary.com</a>
                </p>
            </div>
            </li>
            <li class="repeatable cms-repeatable">
            <div class="left">
                <p class="bold">The Queen &amp; Culture Exhibition</p>
                <p>The London exhibition moves to Milan, Italy. </p>
            </div>
            <div class="right">
                <p class="date"> March - May 2021</p>
                <p><a
                    href="https://criscontinicontemporary.com/the-queen-and-culture-exhibition-endless-artist/">www.criscontinicontemporary.com</a>
                </p>
            </div>
            </li>
            <li class="repeatable cms-repeatable">
            <div class="left">
                <p class="bold">The Uffizi Galleries</p>
                <p>Endless becomes the first Street Artist in the permanent collection. </p>
            </div>
            <div class="right">
                <p class="date"> February 2021</p>
                <p><a href="https://www.uffizi.it/en/magazine/endless-donation-selfportrait">www.uffizi.it</a></p>
            </div>
            </li>
            <li class="repeatable cms-repeatable">
            <div class="left">
                <p class="bold">The Queen &amp; Culture Exhibition</p>
                <p>A week long exhibition at The Crypt Gallery in London.   </p>
            </div>
            <div class="right">
                <p class="date">October 2020</p>
                <p><a
                    href="https://criscontinicontemporary.com/exhibitions/21-the-queen-culture-exhibition-the-crypt-gallery-vr-artgate/">www.criscontinicontemporary.com</a>
                </p>
            </div>
            </li>
            <li class="repeatable cms-repeatable">
            <div class="left">
                <p class="bold">Virtually Endless</p>
                <p>An online interactive virtual exhibition using the latest viewing software .    </p>
            </div>
            <div class="right">
                <p class="date">June 2020</p>
                <p><a href="https://meartgallery.co.uk/virtual-exhibitions/">www.meartgallery.co.uk</a></p>
            </div>
            </li>
            <li class="repeatable cms-repeatable">
            <div class="left">
                <p class="bold">Endless Night Vol 1.</p>
                <p>A one night show at Contini Contemporary Gallery, London. Hosted by Motionless Fine Art.    </p>
            </div>
            <div class="right">
                <p class="date"> December 2019</p>
                <p><a href="https://motionlessfineart.com/">www.motionlessfineart.com</a></p>
            </div>
            </li>
            <li class="repeatable cms-repeatable">
            <div class="left">
                <p class="bold">Endless showing at Rosenbaum Gallery.</p>
                <p>Art Basel    </p>
            </div>
            <div class="right">
                <p class="date">December 2019</p>
                <p><a
                    href="https://www.rosenbaumcontemporary.com/artists/164-endless/overview/">www.rosenbaumcontemporary.com</a>
                </p>
            </div>
            </li>
            <li class="repeatable cms-repeatable">
            <div class="left">
                <p class="bold">Karl Lagerfeld tribute exhibition.</p>
                <p>Endless X Karl Lagerfeld    </p>
            </div>
            <div class="right">
                <p class="date">November 2019</p>
                <p><a href="https://www.continicontemporary.com/exhibitions/14/">www.continicontemporary.com</a></p>
            </div>
            </li>
            <li class="repeatable cms-repeatable">
            <div class="left">
                <p class="bold">Collaboration launch at Karl Lagerfeld store London.</p>
                <p>Karl Lagerfeld   </p>
            </div>
            <div class="right">
                <p class="date">November 2019</p>
                <p><a
                    href="https://www.karl.com/Search/Index?textsearch=endless&amp;siteCode=KARLLAGERFELD_GB&amp;season=A%2CP%2CE&amp;department=llprdcts&amp;gender=U%2CD%2CE">www.Karl.com</a>
                </p>
            </div>
            </li>
            <li class="repeatable cms-repeatable">
            <div class="left">
                <p class="bold">Collaboration launch &amp; exhibition at Fiorucci store London.</p>
                <p>Fiorucci   </p>
            </div>
            <div class="right">
                <p class="date">October 2019</p>
                <p><a href="https://www.continicontemporary.com/events/19/">www.continicontemporary.com</a></p>
            </div>
            </li>
            <li class="repeatable cms-repeatable">
            <div class="left">
                <p class="bold">Live painting for charity in Rome.</p>
                <p>Christies Auction House  </p>
            </div>
            <div class="right">
                <p class="date">July 2019</p>
                <p><a href="https://www.continicontemporary.com/video/13/">www.continicontemporary.com</a></p>
            </div>
            </li>
            <li class="repeatable cms-repeatable">
            <div class="left">
                <p class="bold">Live painting at Mayfair Art Weekend.</p>
                <p>MAW </p>
            </div>
            <div class="right">
                <p class="date">June 2019</p>
                <p><a
                    href="https://www.themayfairmusings.com/home/mayfair-art-weekend-2019">www.themayfairmusings.com</a>
                </p>
            </div>
            </li>
            <li class="repeatable cms-repeatable">
            <div class="left">
                <p class="bold">Endless showing on the windows of Flannels superstore London.</p>
                <p>MD Design Studio </p>
            </div>
            <div class="right">
                <p class="date">March - April 2019</p>
                <p><a href="https://www.w1curates.com/%20">www.w1curates.com</a></p>
            </div>
            </li>
            <li class="repeatable cms-repeatable">
            <div class="left">
                <p class="bold">Endless live painting in Cortina Italy</p>
                <p>Exhibition and live painting.</p>
                <p>Contemporary &amp; Co Cortina  </p>
            </div>
            <div class="right">
                <p class="date">December 2018</p>
                <p><a href="http://www.contemporaryandco.com/">www.contemporaryandco.com</a></p>
            </div>
            </li>
            <li class="repeatable cms-repeatable">
            <div class="left">
                <p class="bold">Endless Showing at </p>
                <p>Art Veron.</p>
                <p>With Contemporary &amp; Co Cortina  </p>
            </div>
            <div class="right">
                <p class="date"> October 2018</p>
                <p><a href="http://www.artverona.it">www.artverona.it</a></p>
            </div>
            </li>
            <li class="repeatable cms-repeatable">
            <div class="left">
                <p class="bold">Gilbert &amp; George Crotch Grab.</p>
                <p>Artwork exclusively shown at Opera Gallery, Bond St, London </p>
            </div>
            <div class="right">
                <p class="date">June 2018</p>
                <p><a href="http://www.operagallery.com">www.operagallery.com </a></p>
            </div>
            </li>
            <li class="repeatable cms-repeatable">
            <div class="left">
                <p class="bold">Endless showing at Venice.</p>
                <p>Liquid Identity Show </p>
            </div>
            <div class="right">
                <p class="date">June  2018</p>
                <p><a href="https://www.artemeaadvisory.com/gart-artemea-in-venice/">www.artemeaadvisory.com </a></p>
            </div>
            </li>
            <li class="repeatable cms-repeatable">
            <div class="left">
                <p class="bold">Crotch Grab.</p>
                <p>A solo exhibition at Blatler London </p>
            </div>
            <div class="right">
                <p class="date">April 2018</p>
                <p><a
                    href="https://www.artemeaadvisory.com/events/2018/4/12/crotch-grab-by-endless">www.artemeaadvisory.com
                </a></p>
            </div>
            </li>
            <li class="repeatable cms-repeatable">
            <div class="left">
                <p class="bold">Endless showing at Shock London.</p>
                <p>London Design Week</p>
            </div>
            <div class="right">
                <p class="date">March - March 2018</p>
                <p><a href="http://www.dcch.co.uk">www.dcch.co.uk</a></p>
            </div>
            </li>
            <li class="repeatable cms-repeatable">
            <div class="left">
                <p class="bold">Endless showing at The Holiday House London.</p>
                
                    
            </div>
            <div class="right">
                <p class="date">November - December 2017</p>
                <p><a href="http://www.theholidayhouselondon.com">www.theholidayhouselondon.com</a></p>
            </div>
            </li>
            <li class="repeatable cms-repeatable">
            <div class="left">
                <p class="bold">Endless Presents Beaut at the Exhibitionist Hotel, Kensington.</p>
                <p>Beaut.<br>A solo exhibition by Endless.</p>
            </div>
            <div class="right">
                <p class="date">August - September 2017</p>
                <p><a href="http://www.theexhibitionisthotel.com/" target="_blank" rel="noopener noreferrer"
                    data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=http://www.theexhibitionisthotel.com&amp;source=gmail&amp;ust=1500018980749000&amp;usg=AFQjCNFrjwZya5zNbybDvoqEAKKfL4xjXQ">www.theexhibitionisthotel.com</a>
                </p>
            </div>
            </li>
            <li class="repeatable cms-repeatable">
            <div class="left">
                <p class="bold">Chelsea Waterside Artspace.</p>
                <p>The Royal Variety Adornments.<br>A solo exhibition by Endless.</p>
            </div>
            <div class="right">
                <p class="date"> April - June 2017</p>
                <p><a href="http://www.chelseawaterside.org" target="_blank"
                    rel="noopener noreferrer">www.chelseawaterside.org</a></p>
            </div>
            </li>
            <li class="repeatable cms-repeatable">
            <div class="left">
                <p class="bold">Buster &amp; Punch.</p>
                <p>Endless Presents Filth:<br>In collaboration with Buster &amp; Punch.</p>
            </div>
            <div class="right">
                <p class="date">February 2017</p>
                <p><a title="Buster &amp; Punch." href="http://www.busterandpunch.com" target="_blank"
                    rel="noopener noreferrer">www.busterandpunch.com</a></p>
            </div>
            </li>
            <li class="repeatable cms-repeatable">
            <div class="left">
                <p class="bold">Scope Miami 2016 Graffik Gallery.</p>
                
                    
            </div>
            <div class="right">
                <p class="date">December 2016</p>
                <p><a href="http://www.scope-art.com" target="_blank" rel="noopener noreferrer">www.scope-art.com</a>
                </p>
            </div>
            </li>
            <li class="repeatable cms-repeatable">
            <div class="left">
                <p class="bold">Graffik Gallery.</p>
                <p>Endless Presents Worship at Graffik:<br>An exhibition featuring Gilbert &amp; George.</p>
            </div>
            <div class="right">
                <p class="date">November 2016</p>
                <p><a title="Graffik Gallery." href="http://www.graffikgallery.co.uk" target="_blank"
                    rel="noopener noreferrer">www.graffikgallery.co.uk</a></p>
            </div>
            </li>
        </ul>
        </div>
    </div>
    <div class="gold-master"><a href="#" title="ENDLESS - Click to trigger audio and animation sequence."
            class="gold-trigger"><img src="images/logo_vert.png" alt="ENDLESS - Vertical logo, gold"
                class="gold-img"></a>
        <audio id="song-1" preload class="songs">
        <source src="media/choir.mp3" type="audio/mpeg">
        </audio>
        <audio id="song-2" preload class="songs">
        <source src="media/train.mp3" type="audio/mpeg">
        </audio>
        <audio id="song-3" preload class="songs">
        <source src="media/porn.mp3" type="audio/mpeg">
        </audio>
        <audio id="song-4" preload class="songs">
        <source src="media/spraycan.mp3" type="audio/mpeg">
        </audio>
        <audio id="song-5" preload class="songs">
        <source src="media/trafficjam.mp3" type="audio/mpeg">
        </audio>
        <div class="indicators">
        <div class="fa fa-volume-up fa-2x"></div>
        </div>
    </div>
    </section>
{% endblock %}
